#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_vlitas
#build/vlitasd::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_vlitas)

DEB_INSTALL_EXAMPLES_vlitasd += debian/examples/*
DEB_INSTALL_MANPAGES_vlitasd += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix vlitasd
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f vlitas-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake vlitas-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_vlitas
	src/test_vlitas

# Ensure wrapper is set executable
binary-post-install/vlitasd:
	chmod +x $(cdbs_curdestdir)usr/bin/vlitasd
binary-post-install/vlitas-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/vlitas-qt
